.wrapper{

  padding: 0 20px 0 30px;
  height: 100vh;
  background: #fafafa;
  border-right: 1px solid rgba(0,0,0,.07);

  ul {
    padding: 0;
    list-style-type: none;
  }

  .logo{
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 20px;
    white-space: nowrap;
    width: 100%;
    text-align: center;
  }

  .group{

    min-width: 200px;

    .title{
      color: black;
      margin-bottom: 10px;
    }

    .link{
      display: flex;
      color: #606770;
      margin-left: 10px;
      margin-bottom: 5px;

      a{
        white-space: nowrap;
        width: 100%;
        padding: 5px;
      }
    }

    .link:hover{
      background-color: #0000000d;
      cursor: pointer;
    }

    .selectedLink{
      color: #764abc;
      background-color: #0000000d;
    }
  }
}