.wrapper{

  .imageWrapper{
    display: flex;
    flex-direction: column;

    padding: 5px;
    background: #fafafa;
    border: 1px solid rgba(0,0,0,.07);

    .imageDescription{
      width: 100%;
      text-align: center;
      font-style: italic;
      color: #828181;
      font-size: 14px;
    }

    img{
      cursor: pointer;
      max-height: 200px;
      object-fit: contain;
      margin-bottom: 5px;


    }
  }

  table{
    border-collapse: collapse;
    border-spacing: 0;

    tr{
      border-top: 1px solid #ccc;

      td, th{
        border: 1px solid #ddd;
        padding: 6px 13px;
      }
    }
  }
}